<%- time = (Time.current - 72.hours).beginning_of_hour %>
<%= line_chart %w[temp ph humidity water_temp].map { |element|
    {name: element, data: WaterDatum.where('created_at >= ?', time).group_by_hour(:created_at).average(element)}
 } %>
