<%- time = (Time.current - 2.hours).beginning_of_minute %>
<%= line_chart %w[temp ph humidity water_temp].map { |element|
    {name: element, data: WaterDatum.where('created_at >= ?', time).group_by_minute(:created_at).average(element)}
 } %>
