.container
  .row
    .col-lg-12
      h1 Water Data

    hr

    .col-lg-12
      h2 Last 72 hours
      = render 'by_hour_chart'

    hr

    .col-lg-12
      h2 Last 2 hours
      = render 'by_minute_chart'

    hr

    .col-lg-12
      table.table.table-striped
        thead
          tr
            th Timestamp
            th Temperature
            th Humidity
            th PH
            th Water Level
            th Water temperature
            th DO
            th Nitrate
            th Ammonium
            th TDS
            th Flow rate
        tbody
          - @data.each do |datum|
            tr
              td = datum.created_at
              td = datum.temp
              td = datum.humidity
              td = datum.ph
              td = datum.water_level
              td = datum.water_temp
              td = datum.d_o
              td = datum.nitrate
              td = datum.ammonium
              td = datum.tds
              td = datum.flow_rate

      = paginate @data
